In [1]:
from sklearn.datasets import load_breast_cancer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
import pandas as pd
import numpy as np

In [2]:
df_titanic = pd.read_csv('titanic.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# dataset
X = df_titanic[['Pclass', 'SibSp', 'Parch', 'Fare']]
y = df_titanic['Survived']

In [7]:
# creazione dizionario di algoritmi
algorithms = {
    'knn': KNeighborsClassifier(),
    'lr': LogisticRegression(solver = 'liblinear'),
    'dt': DecisionTreeClassifier()
}

In [8]:
# creazione dizionario iperparametri
hyperpar = {
    'knn': {
        'n_neighbors': [2, 3, 5, 10],
    },
    'dt': {
        'max_depth': [3, 5, 10, 20]
    }
    
}

In [9]:
# definizione delle metriche
metrics = [
    'accuracy',
    'roc_auc',
    'precision'
]

In [ ]:
# creazione classe
class Judge:
    
    def __init__(self):
        return None
    
    def set_algorithms(self, algorithms):
        self.algorithms = algorithms        
        return None 
    
    def set_data(self, X, y):                
        self.X = X
        self.y = y
        return None
    
    def set_metrics(self, metrics):
        self.metrics = metrics
        return None
    
    def set_hyperpar (self, hyperpar):
        self.hyperpar = hyperpar
        return None
    
    def get_performance(self, metric, algorithm, grid):       
        best_algorithm = algorithm
        if bool(grid):
            best_algorithm = GridSearchCV (estimator = algorithm, param_grid = grid) #inner loop
        scores = cross_validate (best_algorithm, X = self.X, y = self.y, scoring = metric, cv = 20) #outer loop
        score = np.mean (scores['test_score'])
        score = round (score, 2)
        
        return score
            
    def get_table(self):
        metrics_results = {} 
        for metric in self.metrics:   
            algorithms_results = {} 
            for name, algorithm in self.algorithms.items():
                grid = {} 
                if name in self.hyperpar.keys():
                    grid = self.hyperpar[name]
                algorithms_results[name] = self.get_performance(metric, algorithm, grid)
                metrics_results[metric] = algorithms_results
                                
        df = pd.DataFrame.from_dict(metrics_results) 
        
        return df
    
    
j = Judge()
j.set_algorithms(algorithms)
j.set_data(X, y)
j.set_metrics(metrics)
j.set_hyperpar(hyperpar)
j.get_table()